:root {
    --text-color: hsl(200, 15%, 8%);
    --bg: hsl(0, 0%, 98%);
    --elements-bg:  hsl(0, 0%, 100%);
    --elements-bg--hover: #dbdbdb;
    --input-color:  hsl(0, 0%, 52%);
    --box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}